a {
    text-align: center;
    text-decoration: none;
    color: white;
}

.bgimg {
    background-image: url("img/bg.jpg");
    background-size: cover;
}

.entreLineasLogo {
    content: url("img/logoentrelineas.jpg");
    margin: 0 auto;
    margin-bottom: 50px;

}

.chaocole {
    content: url("img/logochaocole.png");
    margin: 0 auto;
    margin-bottom: 50px;
}

.bars {
    content: url("img/barras.png");
    width: 100%;
}

.video {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

h1,
h2 {
    text-align: center;
}

.title {
    color: gray;
    font-size: 65px;
    letter-spacing: 21px;
    font-weight: bold;
}

.subtitle {
    color: gray;
    font-size: 44px;
    letter-spacing: 6px;
    font-weight: bold;
}

.pink {
    color: #e70f58;
}

.info-img img {
    width: 18%;
    padding-right: 5em;
}

.info-left {
    float: right;
    width: 90%;
    margin-top: 5em;
}

.info-left img {
    float: left;
}

.txt-left {
    text-align: left;
}

.info-right {
    float: left;
    width: 90%;
    margin-top: 5em;
}

.info-right img {
    float: right;
}

.txt-right {
    text-align: left;
}

.right {
    padding-left: 10em;
}

.blue {
    color: #4498d8;
}

footer {
    background-image: url("img/bgfooter.png");
    background-size: cover;
}

.btn {
    background-color: #4498d8;
    border: none;
    color: white;
    padding: 1.5em 5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 46%;
    margin-top: 2em;
    margin-left: 33em;
}

.reg {
    padding: 5%;
    text-align: center;
}